<aside id="comments" class="disqus">
    <div class="container">
        <!-- <h3><i class="icon icon-comments-o"></i> Comments</h3> -->
        <div id="disqus_thread"></div>
        <script>
            var idcomments_acct = '{{ site.idcomments_acct}}';
            var idcomments_post_id = '{{ page.id }}';
            var idcomments_post_url = '{{ post.url }}';
            // var idcomments_post_url = '{{ site.url }}{{ post.url }}';
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
        <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
    </div>
</aside>
